body {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  background-color: #000;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  box-sizing: border-box;
}

.project-section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 2px;
}

.project-info {
  width: calc(50% - 2px);
  height: 45vh;
  color: #fff;
  background-color: #306844;
  border-radius: 0;
  overflow: auto;
}

.project-info h1 {
  text-align: center;
  font-size: 7.2rem;
  margin-bottom: 15px;
}

.project-info h1 a {
  text-decoration: none;
  color: #fff;
}

.project-info p {
  text-align: center;
  padding: 0.2rem;
  font-size: 1.1em;
  line-height: 1.6;
}

.project-section:nth-child(even) .project-info {
  background-color: #2C4C3B; 
}


.project-image {
  display: none;
}


@media (max-width: 768px) {
  .project-info {
    width: 100%;
    margin-bottom: 10px;
  }

  .project-info h1 {
    font-size: 5.6rem;
  }

  .project-info p {
    font-size: 1em;
  }
}

.filler {
  color: #fff;
  margin-top: 20px;
  font-style: italic;
  font-size: 1.5rem;
  text-align: center;
}

.navigation {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.navigation button {
  background-color: transparent;
  color: #fff;
  border: none;
  padding: 15px 30px;
  font-size: 1.8rem;
  cursor: pointer;
  border-radius: 5px;
}

.navigation button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}